@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.news-container {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.news-text {
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 26px;
  user-select: none;
  color: #202124;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.info-child {
  min-height: 1px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 0%;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0%;
  right: auto;
  left: auto;
}

.info-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  outline: none;
}

.info-thumbnail {
  position: relative;
  width: 250px;
  max-width: 100%;
  overflow: hidden;
}

.info-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease-in-out 0s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.info-textAndTitle {
  margin-top: 9px;
  width: 250px;
  max-width: 100%;
}

.info-category {
  display: flex;
  font-weight: bold;
  font-size: 10px;
  font-family: "BPG Arial Caps", sans-serif;
}

.info-item-category {
  color: #1a73e8;
  margin-right: 0px;
  margin-bottom: 3px;
}

.info-item-category::after {
  content: " | ";
  color: rgb(100, 100, 107);
  margin-right: 4px;
  margin-left: 2px;
  transform: translateY(-2px);
}

.info-item-time {
  color: rgb(100, 100, 107);
  margin-right: 0px;
  margin-bottom: 3px;
}

.info-text {
  font-size: 14.5px;
  line-height: 1.31;
  font-family: "BPG Arial Caps", sans-serif;
  word-spacing: -0.15em;
  color: #202124;
  transition: color 0.4s ease-in-out 0s;
  font-weight: normal;
  margin-top: 5px;
  display: block;
}

.info-child:hover .info-text {
  color: #1a73e8;
}

.info-linker {
  width: 25px;
  position: absolute;
  right: 15px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out 0s;
  margin-top: -40px;
  border-radius: 100px;
}

.info-linker svg {
  color: #1a73e8;
  background-color: #fff;
  border-radius: 25px;
}

.info-child:hover .info-linker {
  opacity: 1;
  pointer-events: visible;
}


.modal-container {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  height: 500px;
  border-radius: 2px;
  max-width: 100%;
}

.modal-icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-icon svg {
  cursor: pointer;
}

.modal-image-header img {
  width: 250px;
  height: 500px;
  object-fit: cover;
}

.modal-flex {
  display: flex;
}

.modal-right {
  font-family: "BPG Arial Caps", sans-serif;
  margin-left: 25px;
  margin-top: 15px;
  width: 480px;
  max-width: 100%;
}

.modal-right h2 {
  font-size: 17px;
  user-select: none;
}

.margin-t3 {
  margin-top: 1rem;
}

.font-md {
  font-size: 14px;
  user-select: none;
}

.modal-title {
  margin-top: 15px;
  color: #666;
  user-select: none;
  height: 350px;
  font-size: 14px;
  overflow-y: scroll;
}

#modal::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#modal::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#modal::-webkit-scrollbar-thumb {
  background: #3E4042;
  border-radius: 10px;
}

/* Handle on hover */
#modal::-webkit-scrollbar-thumb:hover {
  background: #3E4545;
}

.modal-author {
  display: flex;
  align-items: center;
  margin-top: 10px;
  user-select: none;
}

.lighter {
  font-weight: lighter;
}

.modal-author span {
  margin-right: 5px;
  color: #666;
  font-size: 14px;
}

.modal-author p {
  font-size: 14px;
}

@media (max-width: 835px) {
  .modal-flex {
    flex-direction: column;
  }
  .modal-right {
    margin-left: 10px;
  }
  .modal-title {
    height: 200px;
  }
  .modal-content {
    width: 500px;
    height: 90vh;
  }
  .modal-image-header img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .modal-right {
    padding-right: 15px;
  }
}
