* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #3b5998;
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  color: black;
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}

button {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  background-color: #3b5998;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: white;
  margin-top: 20px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.person h4 {
  margin-bottom: 0.35rem;
  letter-spacing: 0.03rem;
}
.person p {
  margin-bottom: 0;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

.message {
  text-transform: capitalize;
  font-size: 0.9rem;
  user-select: none;
  text-align: center;
}
